

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,


body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: var(--black);

  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --black: #000;
  --orange: #F86600;
  --gray-dark: #232526;
  --white: white;
  --font-family: "Inter", sans-serif;
}
