

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: #F5F6F8;

  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --black: #000;
  --orange: #F86600;
  --gray-dark: #232526;
  --white: white;
  --primary: #7351F5;
  --primary-hover: #6344DF;
  --red-light: #FEA291;
  --red: #FC836D;
  --green: #007B48;
  --green-light: #C8F8E4;
  --font-family: "Inter", sans-serif;
}
